<div class="container bg-light">
    <div class="row row-content">
        <div class="col">
            <h3>Selecting Publishers </h3>

            <div class="form-group col">
                <p>
                    Selected Publishers: {{selectedPublishersIds}}
                </p>
            </div>
        
            <div class="card bg-light ">
                <form novalidate [formGroup]="myForm" (ngSubmit)="submit()" >
                    
                    <div class="form-group col">
                        <ng-select [items]="publishers"
                        bindLabel="publication"
                        formControlName="selectedPublisher"
                        bindValue="id"
                        [multiple]="true"
                        placeholder="Select Publishers" 
                        [(ngModel)]="selectedPublishersIds">
                        </ng-select>
                    </div>
                    
                    <div class="form-group col">
                        <label for="name">Name</label>
                        <input
                        formControlName="name"
                        id="name"
                        class="form-control"
                        type="text">
                        <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">        
                            <div *ngIf="f.name.errors.required">Name is required.</div>            
                            <div *ngIf="f.name.errors.minlength">Name should be 3 character.</div>            
                        </div>
                    </div>
                
                    <div class="form-group col">
                        <label for="file">File</label>
                        <input
                        formControlName="file"
                        id="file" 
                        type="file" 
                        class="form-control"
                        (change)="onFileChange($event)">
                        <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                            <div *ngIf="f.file.errors.required">File is required.</div>
                        </div>
                    </div>
                
                    
                    <div class="form-group col">
                        <button class="btn btn-primary" (click)="submit" [disabled]="myForm.invalid">Submit</button>
                    </div>
                  
                    <div class="form-group col">
                        <div class="col">
                            Status:
                        <button mat-raised-button color="primary">Accept</button>
            
                        <button mat-raised-button color="warn">Reject</button>
                        </div>
    
                    </div>
                  
                </form>

</div>


