<div class="container"
    fxLayout="column"
    fxLayoutGap="10px">

    <div fxFlex>
        <div>
            <h3>Publishers</h3>
            <hr>
        </div>
    </div>

    <div fxFlex>
        <mat-grid-list cols="2" rowHeight="200px">
            <mat-grid-tile *ngFor="let publisher of publishers" (click)="onSelect(publisher)">
                <img  height="200px" src={{publisher.image}} alt={{publisher.name}}>
                <mat-grid-tile-footer>
                    <col-1>
                        <h1 matLine>{{publisher.publication | uppercase}}</h1>
                    </col-1>
                    <h5 matLine>{{publisher.name}}</h5>
                </mat-grid-tile-footer>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

<app-publicationdetail [publishers]="selectedPublisher"></app-publicationdetail>

</div>