/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/*..My adding..*/
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'C:\Users\sasith\1-1\my-app\node_modules\font-awesome\css\font-awesome.min.css';
@import 'C:\Users\sasith\1-1\my-app\node_modules\bootstrap-social\bootstrap-social.css';

/*....*/

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}


/**new**/
.row-header {
    margin: 0px auto;
    padding: 0px 0px;
    
  }
  
  .row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
  }
  .footer{
    background-color: #D1C4E9;
    margin: 0px auto;
    padding:20px 0px; 
    box-sizing: border-box;
}
  .jumbotron {
    margin: 0px auto;
    padding: 70px 30px;
    background: #9575CD;
    color: floralwhite;
    min-height: 150px;
  }
  address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
  }
  
  .navbar-dark {
    background-color: #512DA8;
    height: 55px;
  }
  .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }
  .carousel {
    background: #512DA8;
  }
  .carousel-item {
    height: 300px;
  }
  .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
  }
  #carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
  }


  .background-primary {
    background-color: #512DA8!important;
  }
.background-accent {
    background-color: #FFC107!important;
  }
.text-floral-white {
    color: floralwhite!important;
}

.active {
  background: #4527A0;
}
  
.flex-spacer {
  flex: 1 1 auto;
}
  /*my adding from _modal*/

