<div class="container">
<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Create Account</h4>
        
          <p>{{signupform.value | json }} {{signupform.status | json}}</p>
      
          <form novalidate [formGroup]="signupform" #fform="ngForm" (ngSubmit)="onSubmit()">

            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
              </div>
              <input matInput formControlName="username" class="form-control" placeholder="User Name" type="text" required>
              <!-- <mat-error *ngIf="formErrors.username">{{formErrors.username}}</mat-error> -->
            </div>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
              </div>
              <input matInput formControlName="email" class="form-control" placeholder="Email address" type="email"  required>
              <!-- <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error> -->
            </div>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
              </div>
              <input matInput formControlName="phonenumber" class="form-control" placeholder="Phone number" type="tel" pattern="[0-9]*" required>
              <!-- <mat-error *ngIf="formErrors.phonenumber">{{formErrors.phonenumber}}</mat-error> -->
            </div>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
              </div>
              <input matInput formControlName="password" class="form-control" placeholder="Create password" type="password" required>
              <!-- <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error> -->
            </div>
            <!-- <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
              </div>
              <input matInput formControlName="rpassword" class="form-control" placeholder="Repeat password" type="password" required>
              <mat-error *ngIf="formErrors.rpassword">{{formErrors.rpassword}}</mat-error>
            </div> -->

            <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="signupform.invalid">Submit</button>
          </form>
    </article>
</div>
</div>
    <p></p>
<!---->

<!--
<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <mat-label>Choose designation</mat-label>
            <mat-select>
              <mat-option [value]="user" *ngFor="let user of User">{{user}}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
        </mat-card-content>
  
        <button mat-stroked-button color="accent" class="btn-block">Register</button>
  
      </form>
    </mat-card>
  </div>
  -->