<mat-toolbar color="primary">
    <span><img src="assets/img/book3.png" height=30 width=41></span>
    <a mat-button routerLink="/home" routerLinkActive='active'><span class="fa fa-home fa-lg"></span> Home</a>
    <a mat-button routerLink="/about" routerLinkActive='active'><span class="fa fa-info fa-lg"></span> About</a>
    <a mat-button routerLink="/publishers" routerLinkActive='active'><span class="fa fa-list fa-lg"></span> Publisher</a>
    <a mat-button routerLink="/author" routerLinkActive='active'><span class="fa fa-list fa-lg"></span> Author</a>
    <a mat-button routerLink="/contact" ><span class="fa fa-address-card fa-lg"></span> Contact</a>
    <span class="flex-spacer"></span>
    <a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Login</a>
    <a mat-button routerLink="/signup" routerLinkActive='active'><span class="fa fa-user-circle"></span> Signup</a>

</mat-toolbar>
  
<div class="jumbotron">
  <div class="container">
    <div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="10px">

      <div fxFlex fxFlex.gt-sm="50%">
        <h1>AUTHOR - PUBLISHER NEXUS</h1>
        <p>You can select choose as you wish..!</p>
      </div>
      <div fxFlex fxFlex.gt-sm="20%" class="col-12 col-sm align-self-center">
        <img src="assets/img/book3.png" class="img-fluid">
      <div fxFlex></div>
    </div>
  </div>
</div>
