<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <p></p>
        <h3>About Us</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <h4>Writers helping writers improve their craft, achieve their goals and recognize their dreams</h4> 
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <h6>Author and Publisher</h6>
        <p>You’ll always want to know who’s providing the information for a website or other source. Do they have the education, training, or other experience that make you think they are authorities on the subject covered? Or do they just have opinions? The more you know about the author and/or publisher, the more confidence you can have in your decision for or against using content from that source. Authors and publishers can be individuals or organizations, including companies. (Web masters  put things on the site but do not usually decide what goes on all but the smallest websites. They often just carry out others’ decisions.)
                        Sites that do not identify an author or publisher are generally considered less credible for many purposes, including for term papers and other high-stakes projects. The same is true for sources in other formats.You’ll always want to know who’s providing the information for a website or other source. Do they have the education, training, or other experience that make you think they are authorities on the subject covered? Or do they just have opinions?
The more you know about the author and/or publisher, the more confidence you can have in your decision for or against using content from that source.
Authors and publishers can be individuals or organizations, including companies. (Web masters  put things on the site but do not usually decide what goes on all but the smallest websites. They often just carry out others’ decisions.)
Sites that do not identify an author or publisher are generally considered less credible for many purposes, including for term papers and other high-stakes projects. The same is true for sources in other formats.</p>
      </div>
      </div>

  </div>